.message-content{
  display: flex;
  height: 100%;
}

.message_dialogs{
  flex-basis: 23%;
  height: 100%;
  overflow: auto;
  border-right: 1px solid #666;
  padding: 20px 0 0 20px;
  min-width: 200px;
}

.message_messages{
  flex-basis: 77%;
  padding: 20px 20px 0 0;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.send-message{
  height: 70px; 
}

.message_messages-textarea-send textarea{
  width: 100%;
  margin-right: 10px;
  border-radius: 5px;
  padding: 5px;
}

.message_messages-items{
  height: 100%;
  overflow: auto;
}

.message_messages-textarea-send{
  padding: 0 0 20px 20px;
  display: flex;
}